coverage
dist
node_modules
npm-error.log
.DS_Store
cypress/screenshots
cypress/videos
coverage-cypress
coverage-jest
.nyc_output
.yalc
yalc.lock
LocalhostCertificates

# Editors
.idea
.vscode
.localhost-ssl
