@import "../vars.scss";

.activity-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  background-color: white;
  color: $cc-charcoal;
  font-size: pxToRem(18);

  &.full {
    width: 100%;
  }

  .left {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .activity-name {
    margin: 0 5px 0 10px;
  }

  .sequence-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: pxToRem(12);
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: $cc-charcoal-light1;
    }
  }
}
