@import "../vars.scss";

.activity-header {
  height: 60px;
  width: 100%;
  margin-bottom: 3px;

  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: $content-width;
    box-sizing: border-box;
    margin: auto;
    background-color: $cc-teal-light4;
    color: $cc-charcoal;

    &.full {
      width: 100%;
    }

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      height: 100%;
      font-size: 18px;
      font-weight: bold;

      .separator {
        width: 1px;
        height: 30px;
        margin: 2px 12px 2px 2px;
        background-color: $cc-teal;
      }

      .activity-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .activity-icon {
          margin: 5px;
        }
      }
      .sequence-logo {
        height: 50px;
        margin-right: 5px;
      }
    }

    .header-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
