@import "../vars.scss";

.nav-pages {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 10px 0 10px;
  padding: 0px;

  .paginate-container {
    display: flex;
    padding: 0;
    max-width: 860px;
    margin: 0;
    list-style-type: none;

    .page-button {
      color: $cc-charcoal-light1;
      font-size: 20px;
      list-style-type: none;

      &.current {
        color: white;
      }
    }
    .disabled .page-button {
      outline: none;
      cursor: auto;
      color: $cc-charcoal-light2;

      &:hover {
        background-color: white;
      }
      &:active {
        background-color: white;
      }
    }

    .break {
      outline: none;
      cursor: not-allowed;
      pointer-events: none;
      color: $cc-charcoal-light2;
      padding: 5px;
    }
  }

  .page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin: 0 5px 0 5px;
    border-radius: 50%;
    border: solid $cc-charcoal-light1 2px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: $cc-teal-light6;
    }
    &:active {
      background-color: $cc-teal-light4;
    }
    &.current {
      background-color: var(--theme-primary-color);
    }
    &.current:hover {
      background-color: var(--theme-primary-hover-color);
    }
    &.current:active {
      background-color: var(--theme-primary-active-color);
    }
  }    
}
