@import "../vars.scss";

.profile-nav-header {
  display: flex;
  justify-content: flex-end;
  width: $content-width;
  align-items: center;

  &.full {
    width: 100%;
  }

  .profile-name {
    padding: 7px;
    font-size: 16px;
    background-color: #8282824e;
    color: var(--theme-primary-text-color);

    .userName {
      cursor: pointer;
    }
    .userName:hover {
      text-decoration: underline;
    }
  }
}
