@import "../vars.scss";

.profile-nav-header {
  display: flex;
  justify-content: flex-end;
  width: $content-width;
  color: $cc-charcoal-hint;

  &.full {
    width: 100%;
  }

  .profile-name {
    height: 25px;
    padding: 0 0 5px 0;
    font-size: 16px;
    line-height: 20px;

    .userName {
      cursor: pointer;
    }
    .userName:hover {
      text-decoration: underline;
    }
  }
}
