@import "../../vars.scss";

.iframe-runtime {
  iframe {
    border: 0;
  }
  button.button {
    align-items: center;
    display: flex;
    line-height: 1.6;
    margin: 0 auto 5px;

    &:active {
      svg {
        fill: white;
      }
    }
    svg {
      fill: $cc-charcoal;
    }
  }
  .iframe-runtime-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .teacher-feedback {
      box-sizing: border-box;
      background-color: $teacher-feedback-light-green;
      margin: 20px;
      margin-top: 0px;
      border-radius: 4px;
      padding: 10px;
    }
  }

}