@import "../vars.scss";

.error {
  width: $content-width;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.95);
  padding: 20px;
  margin-bottom: 20px;

  h1 {
    color: $cc-orange-dark1;
    font-size: 32px;
    font-weight: 900;
  }

  li {
    margin-top: 5px;
  }

  .login-again {
    margin-top: 35px;
  }
}
