@import "../vars.scss";

.error {
  width: $content-width;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.95);
  padding: 20px;
  margin-bottom: 20px;

  li {
    margin-top: 5px;
  }

  .login-again {
    margin-top: 35px;
    .link {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  button {
    margin-right: 30px;
  }
}
