@import "../../vars.scss";

.image {
  .content {
    padding: 0;

    img {
      width: 100%;
    }
    .caption {
      font-size: 14px;
      margin: 0px;
    }
    .credit {
      font-size: 10px;
      font-style: italic;
      margin: 0px;  
      
      a:visited {
        color: #aaa;
      }
    }
  }
}
