@import "../vars.scss";

.sequence-content {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 30px 30px 36px;
  margin-top: 5px;

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sequence-header {
      margin-bottom: 10px;
      display: flex;

      .sequence-title {
        display: flex;
        flex-grow: 1;


        h2 {
          font-size: 32px;
          font-weight: 900;
          margin: 0;
          color: var(--theme-secondary-color);
        }
      }
    }

    .thumb-holder {
      display: flex;
      flex-wrap: wrap;

      .thumb {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        width: 280px;
        height: 316px;
        margin: 15px 30px 15px 0;
        padding: 8px 10px 10px;
        border-radius: 8px;
        border: solid 1.5px $cc-charcoal-light1;
        overflow: hidden;
        color: $cc-teal-dark1;
        cursor: pointer;

        &:hover {
          background-color: $cc-teal-light4;
        }

        &:active {
          background-color: $cc-teal;
          color: white;
        }

        img {
          width: 256px;
          height: auto;
          border: solid 1px $cc-charcoal-light1;
        }

        .image-stub {
          width: 256px;
          height: 217px;
          border: solid 1px $cc-charcoal-light1;
          background-color: $activity-blue;
          flex: 1;

          &.color-1 {
            background-color: $activity-blue;
          }
          &.color-2 {
            background-color: $activity-yellow;
          }
          &.color-3 {
            background-color: $activity-red;
          }
          &.color-4 {
            background-color: $activity-green;
          }
          &.color-5 {
            background-color: $activity-purple;
          }
        }

        .name {
          margin: 5px;
          font-size: 19px;
          font-weight: bold;
          display: flex;
          flex-direction: row;

          .num {
            margin-right: 5px;
          }
        }
      }

      .thumb:nth-child(3n) {
        margin-right: 0;
      }

    }

    .estimated-time {
      width: auto;
      margin-bottom: 15px;
    }
  }
}
