@import "../vars.scss";

.activity-summary {
  width: 570px;

  .activity-title {
    display: flex;
    height: 80px;
    align-items: center;

    img {
      border-radius: 8px;
      border: solid 1px $cc-teal;
      margin-right: 20px;
      height: inherit;
    }

    h1 {
      line-height: 1.25em;
    }
  }
}
