@import "../vars.scss";

.activity-level-feedback {
  flex: 1 1 100%;

  .teacher-feedback {
    background: $teacher-feedback-light-green;
    border-radius: 4px;
    color: $cc-charcoal;
    font-size: pxToRem(18);
    margin: 15px 0;
    padding: 20px;
  }
}
