@import "../vars.scss";

.activity-page-links {
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $cc-charcoal-light2;
  color: $cc-charcoal;

  .pages {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 10px;
  }

  .separator {
    width: 260px;
    height: 1px;
    background-color: $cc-charcoal-light2;
    margin: 10px;
  }

  .page-item {
    display: flex;
    align-items: center;
    width: 260px;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      background-color: $cc-teal-light4;
      .page-link {
        text-decoration: underline;
      }
    }
    &:active {
      background-color: $cc-teal;
      color: white;
    }

    .page-link {
      margin-left: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .begin {
    width: 260px;
    margin: 20px 0 0 10px;
  }

}
