@import "../vars.scss";

.activity-summary {
  width: 570px;

  .activity-title {
    display: flex;

    img {
      height: 80px;
      border-radius: 8px;
      border: solid 1px $cc-teal;
      margin-right: 20px;
    }

    h2 {
      font-size: 32px;
      font-weight: 900;
      margin: 0;
      color: var(--theme-secondary-color);
    }
  }
}
