@import "../vars.scss";

.estimated-time {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: pxToRem(18);
  color: $cc-charcoal;
  background-color: $cc-teal-light6;

  .label {
    display: flex;
    align-items: baseline;

    .estimate {
      margin: 0 5px 0 5px;
    }

    .time {
      font-weight: bold;
      margin: 0 5px 0 0;
    }

  }

}
