@import "../vars.scss";

.footer {
  width: $content-width;
  font-size: 13px;
  color: var(--theme-primary-text-color);
  margin: 10px 0 10px 0;

  a:link, a:visited, a:hover, a:active {
    color: var(--theme-primary-text-color);
  }

  .footer-logo-container {
    background-color: white;
  }
  .footer-logo {
    line-height: 0;
    vertical-align: middle;
    margin: 10px;
  }

}
