@import "../vars.scss";

.footer {
  width: $content-width;
  font-size: 13px;
  color: var(--theme-primary-text-color);
  margin: 10px 0 10px 0;

  a:link, a:visited, a:hover, a:active {
    color: var(--theme-primary-text-color);
  }

}
