@import "../vars.scss";

.footer {
  width: 100%;
  box-sizing: border-box;
  font-size: pxToRem(18);
  color: white;
  background-color: $cc-teal-dark1;
  padding: 20px 20px 40px;
  margin: 40px 0 0 0;

  a:link, a:visited, a:hover, a:active {
    color: white;
  }

  .footer-text {

    .footer-text-copyright {
      min-height: 50px;

      img.copyright {
        float: left;
        height: auto;
        margin: 5px 15px 5px 0;
        max-height: 42px;
        max-width: 120px;
        width: auto;
      }
    }
    .footer-text-collaborators {
      min-height: 50px;

      img.funder {
        float: left;
        height: auto;
        margin: 5px 15px 5px 0;
        max-height: 50px;
        max-width: 120px;
        min-width: 50px;
        width: auto;
      }
    }
    .footer-text-collaborators-image {
      height: 50px;
      margin: 15px auto;
      width: 900px;

      img {
        height: auto;
        width: 100%;
      }
    }
    .footer-text-contact {
      text-align: center;
    }
  }
}
