@import "../vars.scss";

.intro-content {
  width: $content-width;
  box-sizing: border-box;
  background-color: white;
  padding: 12px;
  margin: 1px 0 1px 0;

  .introduction {
    display: flex;
    justify-content: space-between
  }
}
