@import "../vars.scss";

.intro-content {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  font-size: 18px;
  margin: 1px 0 1px 0;
  padding: 30px;

  .introduction {
    display: flex;
    justify-content: space-between
  }
}
