.activity-import-upload{
  display: flex;
  padding: 5px;
  height: 30px;
  background-color: #eee;
  border-radius: 4px;
  margin: 4px 0 4px 0;

  .instructions{
    font-size: 0.9em;
    display: flex;
    margin-right: 10px;
  }
  input{
    display: flex;
    padding-top: 2px;
  }
}