@import "../../vars.scss";

.iframe-interactive {
  background-color: $cc-charcoal-light2;
  position: relative;
  width: 100%;
  padding-top: 75%;

  .iframe-interactive-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 10px;
    color: white;
    background-color: var(--theme-primary-color);
  }

  .iframe-interactive-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    &.vertical-offset {
      top: 30px;
      height: calc(100% - 30px);
    }
  }
}
