@import "../vars.scss";

.related-content {
  width: 100%;
  background-color: $cc-charcoal-light3;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 0 0 10px 10px;
  border: solid 1px $cc-charcoal-light1;

  .header {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0 0 0 10px;
    color: white;
    background-color: $cc-teal-dark1;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1; // tight heading line-height
  }
  .related-content-text {
    padding: 20px;
  }
}
