@import "../vars.scss";

.completion-page-content {
  width: $content-width;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.95);
  padding: 20px;
  margin-bottom: 40px;

  .completion-text {
    color: $cc-teal-dark1;
    font-size: 22px;
  }

  .progress-container {
    display: flex;
    padding: 20px;
    background-color: $cc-teal-light6;
    color: $cc-teal-dark1;
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-style: italic;

    .check {
      position: relative;
      top: 10px;
      fill: $cc-teal-dark1;
      margin-right: 6px;
    }
  }

  .exit-container {
    display: flex;
    padding: 20px;
    background-color: $cc-charcoal-light3;
    color: $cc-charcoal;
    margin: 10px 0 10px 0;

    .next {
      color: $cc-charcoal-light1;
      text-transform: capitalize;
    }

    .next-step {
      margin: 10px;
    }
  }

  img {
    width: 200px;
    height: auto;
  }

  /* cf. https://www.cssportal.com/css-ribbon-generator/ */
  .box {
    width: 200px;
    height: auto;
    position: relative;
  }
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F79E05 0%, #F79E05 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #F79E05;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F79E05;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #F79E05;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F79E05;
  }

}
