@import "../vars.scss";

.completion-page-content {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;

  .textButton {
    background: transparent;
    border: none;
    color: $cc-charcoal;
    cursor: pointer;
    display: block;
    font: bold 20px Lato, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    width: auto;

    &:hover {
      color: var(--theme-primary-color);
    }
    &:active {
      color: var(--theme-secondary-color);
    }
  }

  .progress-container {
    align-items: center;
    background-color: $cc-teal-light6;
    display: flex;
    flex-basis: 100%;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0 24px;
    padding: 0;

    &.incomplete {
      background-color: $cc-orange-light2;
    }

    .check {
      fill: $cc-teal-dark1;
      margin-left: 5px;

      &.incomplete {
        fill: $cc-orange-dark1;
      }
    }
    .progress-text {
      padding: 8px 5px 10px;
    }
  }

  .exit-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    padding: 0;

    button {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 260px;

      svg {
        fill: $cc-orange-dark1;
        margin-right: 5px;
      }
      &.disabled {
        cursor: none;
        opacity: .35;
        pointer-events: none;
      }
    }
    h1 {
      flex-basis: 100%;
      margin: 0 0 30px;

      .activity-title {
        font-weight: 500;
      }
    }
    .exit-button {
      flex-basis: 100%;
      text-align: center;
    }
  }

  .next-step {
    background-color: $cc-teal-light6;
    display: flex;
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;

    .next-step-thumbnail {
      background-color: var(--theme-primary-color);
      border: solid 1px var(--theme-primary-color);
      border-radius: 8px;
      height: 80px;
      margin-right: 10px;
      max-width: 108px;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    .next-step-content {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.2;

      .next-step-buttons {
        margin-right: 15px;
        width: 260px;

        button {
          width: 100%;
        }
        span {
          display: block;
          margin: 10px 0;
          text-align: center;
        }
      }
      .next-step-text {
        flex-grow: 2;
        margin: 0 10px 0 0;
        width: 495px;

        p {
          margin: 0;
        }
        .next-step-title {
          font-size: 16px;
          font-weight: bold;
        }
        .next {
          font-style: italic;
          font-weight: normal;
          margin-bottom: 5px;
        }
      }
    }
  }

  .num-complete-text {
    margin: 15px 0;
  }

}
