@import "../../vars.scss";

.question {
  
  p{
    margin: 0 0 10px;
  }

  .options {
    border: none;
    padding: 0;
    margin: 0;

    .choice-container {
      .choice {
        display: flex;
        align-items: baseline;
        input {
          transform: scale(1.5);
          margin: 4px 10px 0 5px;
        }
        label {
          max-width: 100%;
          margin-bottom: 5px;
          font-weight: normal;
        }
      }

      &.horizontal {
        display: flex;
        flex-direction: row;
        .choice {
          margin-right: 25px;
        }
      }
      &.likert {
        display: table;
        width: 100%;
        .choice {
          display: table-cell;
          text-align: center;
          width: 150px;
          vertical-align: bottom;
        }
        .choice input {
          margin-right: 5px;
        }
      }
    }
  }
}
