@import "./vars.scss";

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: #242424;
  background-color: $cc-teal-light3;
}

.content {
  background-color: white;
  padding: 12px;

  .introduction {
    display: flex;
    justify-content: space-between
  }
}
