@import "./vars.scss";

.defunct-banner {
  align-items: center;
  background-color: $cc-gold;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: center;
  margin: -40px -40px 10px;
  padding: 20px;
  width: calc(100% + 80px);
}
