.launch-list-launcher {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.75);
  }

  .dialog {
    z-index: 1;
    background-color: #fff;
    padding: 20px;
    color: #000;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      margin: 10px 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }

    li {
      margin: 3px;
      padding: 3px 10px;
    }

    li:hover {
      background-color: #aaa;
      color: #fff;
    }
  }
}