@import "./vars.scss";

.locked-banner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $cc-orange;
  color: black;
  font-size: pxToRem(22);
  padding: 10px;
  width: 100%;
}
