@import "./vars.scss";

.modal-dialog {
  position: fixed;
  background-color: white;
  border: solid 2px $cc-charcoal-light2;
  border-radius: 8px;
  width: 300px;
  top: calc(50% - 70px);
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;

  .modal-header {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--theme-primary-color);
    color: var(--theme-primary-text-color);
    padding: 5px 10px;
    font-size: pxToRem(18);
    font-weight: normal;
    border-radius: 8px 8px 0 0;
  }

  div {
    padding: 10px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    margin-top: auto;
    width: 50px;
  }
}
