@import "./vars.scss";
.offline-manifest-loading-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.75);
  }

  .dialog {
    z-index: 1;
    background-color: #fff;
    color: #000;
    width: 500px;
    padding: 21px 22.5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 11.3pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

    div {
      border: solid 1px var(--cc-charcoal-light-1);
      background-color: var(--white);
      margin: 15px 28px 12px;
      text-align: center;
    }
  }
}