$cc-charcoal: #3f3f3f;
$cc-charcoal-light1: #979797;
$cc-charcoal-light2: #dfdfdf;
$cc-teal: #0592af;
$cc-teal-dark2: #016082;
$cc-teal-dark1: #0481a0;
$cc-teal-light1: #2ba5c1;
$cc-teal-light2: #6fc6da;
$cc-teal-light3: #93d5e4;
$cc-teal-light4: #b7e2ec;
$cc-teal-light5: #cdebf2;
$cc-teal-light6: #e2f4f8;
$cc-teal-light7: #f5fbfc;
$cc-orange: #ff8415;
$cc-orange-light1: #ffa350;
$cc-orange-light2: #ffc18a;
$cc-orange-light3: #ffcea1;
$cc-orange-light4: #ffe6d0;
$cc-orange-light5: #fff2e7;
$cc-orange-light6: #fff9f3;

$content-width: 960px;

:root {
  --theme-primary-color: #0592af;
  --theme-primary-hover-color: #007e9b;
  --theme-primary-active-color: #006a87;
  --theme-secondary-color: #ff8415;
  --theme-secondary-hover-color: #ff8415;
  --theme-secondary-active-color: #ff8415;
}
