$cc-charcoal: #3f3f3f;
$cc-charcoal-light1: #979797;
$cc-charcoal-light2: #dfdfdf;
$cc-charcoal-light3: #F4F4F4;
$cc-charcoal-hint: #828282;
$cc-teal: #0592af;
$cc-teal-dark2: #016082;
$cc-teal-dark1: #0481a0;
$cc-teal-light1: #2ba5c1;
$cc-teal-light2: #6fc6da;
$cc-teal-light3: #93d5e4;
$cc-teal-light4: #b7e2ec;
$cc-teal-light5: #cdebf2;
$cc-teal-light6: #e2f4f8;
$cc-teal-light7: #f5fbfc;
$cc-orange: #ff8415;
$cc-orange-dark1: #ea6d2f;
$cc-orange-light1: #ffa350;
$cc-orange-light2: #ffc18a;
$cc-orange-light3: #ffcea1;
$cc-orange-light4: #ffe6d0;
$cc-orange-light5: #fff2e7;
$cc-orange-light6: #fff9f3;
$light-font-color: #eeeeee;
$medium-font-color: #444444;
$font-color: #373737;
$dark-font-color: #222222;
$activity-header-gray: #414546;
$light-background-color: #fcfcfc;
$activity-blue: #31b6ff;
$activity-yellow: #edd200;
$activity-red: #ff234e;
$activity-green: #1bdf00;
$activity-purple: #e325af;

$line-height: 1.35;

:root {
  --theme-primary-color: #0592af;
  --theme-primary-hover-color: #b7e2ec;
  --theme-primary-active-color: #0592af;
  --theme-primary-text-color: #eeeeee;
  --theme-secondary-color: #ea6d2f;
  --theme-secondary-hover-color: #ffe6d0;
  --theme-secondary-active-color: #ea6d2f;
  --theme-secondary-text-color: #222222;
}

:export {
  lightFontColor: $light-font-color;
  darkFontColor: $dark-font-color;
}
