@import "./vars.scss";

.warning-banner {
  display: flex;
  flex-direction: row;
  background-color: $cc-orange;
  color: black;
  font-size: 22px;
  padding: 10px;
  min-height: 50px;
  width: 100%;
}
