@import "../vars.scss";

.page-content {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  margin: 1px 0 1px 0;

  &.full {
    width: 100%;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
    max-width: 900px;
    color: var(--theme-secondary-color);
  }

  .introduction {
    max-width: 920px;
  }

  .embeddables {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;

    &.vertical {
      flex-direction: column;
    }

    .group {
      &.responsive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &.left {
        margin-right: 20px;
      }
      &.top {
        margin-bottom: 20px;
      }

      &.fill-remaining {
        flex-grow: 1;
        position: relative;
        height: fit-content;
      }

      &.static-width {
        width: 365px;
      }

      &.collapsed {
        width: 50px;
      }

      .collapsible-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 10px;
        height: 35px;
        background-color: $cc-charcoal;
        color: $cc-charcoal-light2;
        transition-duration: .25s;
        cursor: pointer;

        &.right {
          justify-content: flex-start;
        }

        &.collapsed {
          height: 350px;
          width: 45px;
          padding: 5px;
          flex-direction: column;
          justify-content: flex-start;
        }

        div {
          position: relative;
          top: 2px;
          left: 0px;
          width: 30px;
          white-space: nowrap;
        }

        &.collapsed {
          height: 350px;
          width: 45px;
          padding: 5px;

          div {
            transform: rotate(-90deg);
            top: 20px;
          }
        }
      }
    }
  }
}
