@import "../vars.scss";

.page-content {
  width: $content-width;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  margin: 1px 0 1px 0;
  &.responsive {
    width: 100%;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
    max-width: 900px;
    color: var(--theme-secondary-color);
  }

  .section {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: repeat(10, 1fr);
    margin: 10px;
    &.respomsive {
      width: 100%;
    }

    &.full-width {
      .embeddable.full-width {
        width: 900px;
        grid-column: span 10;
        &.half-width {
          grid-column: span 5;
        }
      }
    }

    &.l_6040 {
      width: 900px;
      .column.primary {
        left: 0;
        grid-column: span 6;
        &.expand {
          grid-column: span 9;
        }
      }
      .column.secondary {
        right: 0;
        grid-column: span 4;
        &.stacked {
          flex-direction: column;
        }
        &.collapsed {
          grid-column: span 1;
        }
      }
    }

    &.r_6040 {
      width: 900px;
      .column.primary {
        right: 0;
        grid-column: span 6;
        &.expand {
          grid-column: span 9;
        }
      }
      .column.secondary {
        left: 0;
        grid-column: span 4;
        &.stacked {
          flex-direction: column;
        }
        &.collapsed {
          grid-column: span 1;
        }
      }
    }

    &.l_7030 {
      width: 900px;
      .column.primary {
        left: 0;
        grid-column: span 7;
        &.expand {
          grid-column: span 9;
        }
      }
      .column.secondary {
        right: 0;
        grid-column: span 3;
        &.stacked {
          flex-direction: column;
        }
        &.collapsed {
          grid-column: span 1;
        }
      }
    }

    &.r_3070 {
      width: 900px;
      .column.primary {
        right: 0;
        grid-column: span 7;
        &.expand {
          grid-column: span 9;
        }
      }
      .column.secondary {
        left: 0;
        grid-column: span 3;
        &.stacked {
          flex-direction: column;
        }
        &.collapsed {
          grid-column: span 1;
        }
      }
    }

    &.responsive {
      display: flex;
      flex-direction: row;
      .embeddable.full-width {
        width: 100%;
        &.half-width {
          width: 50%;
        }
      }

      .column.primary {
        right: 0;
        width: 100%;
      }
      .column.secondary {
        min-width: 365px;
        left: 0;
        &.stacked {
          flex-direction: column;
        }
        &.collapsed {
          min-width: 45px;
        }
      }
    }

    .collapsible-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 10px;
      height: 35px;
      background-color: $cc-charcoal;
      color: $cc-charcoal-light2;
      transition-duration: .25s;
      cursor: pointer;

      &.right {
        justify-content: flex-start;
      }

      &.collapsed {
        height: 350px;
        width: 45px;
        padding: 5px;
        flex-direction: column;
        justify-content: flex-start;
      }

      div {
        position: relative;
        top: 2px;
        left: 0px;
        width: 30px;
        white-space: nowrap;
      }

      &.collapsed {
        height: 350px;
        width: 45px;
        padding: 5px;

        div {
          transform: rotate(-90deg);
          top: 20px;
        }
      }
    }
  }

  .embeddable {
    margin-bottom: 10px;
    position: relative;
    .header {
      height: fit-content;
      min-height: 36px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 10px;
      color: white;
      background-color: $cc-teal-dark1;
    }
  }

  .embeddables {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;

    &.vertical {
      flex-direction: column;
    }

    .group {
      &.responsive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &.left {
        margin-right: 20px;
      }
      &.top {
        margin-bottom: 20px;
      }

      &.fill-remaining {
        flex-grow: 1;
        position: relative;
        height: fit-content;
      }

      &.static-width {
        width: 365px;
      }

      &.collapsed {
        width: 50px;
      }

      .collapsible-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 10px;
        height: 35px;
        background-color: $cc-charcoal;
        color: $cc-charcoal-light2;
        transition-duration: .25s;
        cursor: pointer;

        &.right {
          justify-content: flex-start;
        }

        &.collapsed {
          height: 350px;
          width: 45px;
          padding: 5px;
          flex-direction: column;
          justify-content: flex-start;
        }

        div {
          position: relative;
          top: 2px;
          left: 0px;
          width: 30px;
          white-space: nowrap;
        }

        &.collapsed {
          height: 350px;
          width: 45px;
          padding: 5px;

          div {
            transform: rotate(-90deg);
            top: 20px;
          }
        }
      }
    }
  }
}
