@import "../vars.scss";

.page-content {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  margin: 1px 0 1px 0;
  &.responsive {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      flex-grow: 1;
      font-size: pxToRem(24);
      font-weight: bold;
      max-width: 850px;
      color: var(--theme-secondary-color);
    }
  }
}

.hidden-page-warning {
  font-size: pxToRem(18);
  text-align: center;
  height: 30px;
  background-color: $activity-purple;
}
