@import "../vars.scss";

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.center {
    justify-content: center;
  }

  button:disabled {
    background-color: $cc-teal-light2;
    &:hover {
      background-color: $cc-teal-light2;
    }
  }
}
