@import "../vars.scss";

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.center {
    justify-content: center;
  }

  button:disabled {
    opacity: 0.35;
    cursor: auto;
    &:hover {
      opacity: 0.35;
      background-color: var(--theme-primary-color);
    }
  }
}
