@import "../vars.scss";

.disabled-questions-banner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: $cc-charcoal-light3;
  color: $cc-charcoal;
  font-weight: bold;

  .icon {
    flex: none;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    fill: $cc-charcoal;
  }

  &.tab {
    grid-column: 1 / -1;
  }
}

.disabled-questions-announcer {
  @include visually-hidden;
}
