@import "../vars.scss";

$banner-text: #222;
$banner-locked-bg: #c1daff;
$banner-unlocked-bg: #63d199;

.disabled-questions-banner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: $banner-locked-bg;
  color: $banner-text;
  font-family: "Lato", arial, helvetica, sans-serif;
  font-size: pxToRem(20);
  font-weight: bold;

  &.unlocked {
    background-color: $banner-unlocked-bg;
  }

  .icon {
    flex: none;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    fill: $banner-text;
  }

  &.tab {
    grid-column: 1 / -1;
  }
}

.disabled-questions-announcer {
  @include visually-hidden;
}
