@import "../vars.scss";

.embeddable {
  margin-bottom: 10px;

  &.full-width {
    width: 100%;
  }
  &.reduced-width {
    width: 440px;
  }

  .header {
    height: fit-content;
    min-height: 36px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 10px;
    color: white;
    background-color: $cc-teal-dark1;
  }
}
