@import "../vars.scss";

.secondary-embeddable {
  width: 365px;
  height: 300px;
  margin-bottom: 20px;

  .header {
    width: 365px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 10px;
    color: white;
    background-color: var(--theme-primary-color);
  }

  .content {
    height: 250px;
    border-radius: 0 0 13px 13px;
    border: 1px solid $cc-charcoal-light1;
  }
}
