@import "./components/vars.scss";

$logbook_font_family: 'Andika';
$logbook_font_size: 19px;

body.logbook {

  font-family: 'Andika', 'Lato', arial, helvetica, sans-serif;
  font-size: $logbook_font_size;

  /* HACK TO TEST MOVING THE LOGBOOK UP */
  #embeddable_346875_ManagedInteractiveXX {
    margin-top: -35px;
  }

  /* HACK TO REMOVE READ ALOUD TOGGLE - DO NOT MERGE */
  .toggle {
    display: none;
  }

  .button {
    font-family: $logbook_font_family;
  }

  .activity-header {
    font-size: $logbook_font_size + 1;

    .inner {
      background-color: #ffa35050; // $cc-orange-light1
      border-radius: 10px 10px 0 0;
    }
  }

  .activity-nav {
    .nav-pages {
      gap: 40px;

      .page-button {
        font-size: $logbook_font_size;
        width: auto;
        margin: 0;
        color: $cc-teal;
        outline: none;

        &.current {
          color: $cc-orange-dark1;
          background-color: unset;
        }

        &:hover {
          background-color: unset;
        }
      }
    }
  }

  .intro-content {
    background-color: $cc-orange-light6;
    font-size: $logbook_font_size;
    border-radius: 0 0 10px 10px;

    .introduction {
      min-height: 500px;
    }

    .activity-page-links {
      display: none;
    }
  }

  .page-content {
    background-color: $cc-orange-light6;
    border-radius: 0 0 10px 10px;

    .header {
      .name {
        visibility: hidden;  /* quick hack to remove page name - don't use for realz */
      }
    }

    .textbox.callout {
      font-size: $logbook_font_size;
      animation: zoom-in-zoom-out 1s ease;

      .text-name {
        color: #fff;
        border-radius: 6px 6px 0 0;
        background-color: $cc-teal-dark1;
      }
      .content {
        border-radius: 0 0 6px 6px;
        background-color: $cc-teal-light3;
      }
    }

    .section {
      margin-top: -35px;
    }
  }

  .footer {
    font-size: $logbook_font_size;
    background-color: $cc-orange-light1;
    border-radius: 10px 10px;
  }

  .warning-banner {
    display: none;  /* to avoid distracting from the layout - don't use for realz */
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
