@import "./components/vars.scss";

$notebook_font_family: 'Andika';
$notebook_font_size: 19px;

body.notebook {

  font-family: 'Andika', 'Lato', arial, helvetica, sans-serif;
  font-size: $notebook_font_size;

  .button {
    font-family: $notebook_font_family;
  }

  .activity-header {
    font-size: $notebook_font_size + 1;

    .inner {
      background-color: $cc-orange-light1; // #ffa35050;
      border-radius: 10px 10px 0 0;
    }
  }

  .activity-nav {
    .nav-pages {
      gap: 40px;

      .page-button {
        font-size: $notebook_font_size;
        width: auto;
        margin: 0;
        color: $cc-teal;
        outline: none;

        &.current {
          color: $cc-orange-dark1;
          background-color: unset;
        }

        &:hover {
          background-color: unset;
        }
      }
    }
  }

  .intro-content {
    background-color: $cc-orange-light6;
    font-size: $notebook_font_size;
    border-radius: 0 0 10px 10px;

    .introduction {
      min-height: 500px;
    }

    .activity-page-links {
      display: none;
    }
  }

  .page-content {
    background-color: $cc-orange-light6;
    border-radius: 0 0 10px 10px;

    > .header {
      .name {
        visibility: hidden;  /* quick hack to remove page name - don't use for realz */
      }

      display: none;
      &.contains-read-aloud {
        display: block;
      }
    }

    .embeddable {
      .header {
        /*display: none;*/
        border-radius: 10px 10px 0 0;
        color: $cc-charcoal;
        background-color: $cc-teal-light2;
      }
      .runtime-container.has-question-number {
        border: 0;
      }
      iframe {
        border-radius: 0 0 10px 10px;
      }

      .spike-media-library {
        .title {
          border-radius: 10px 10px 0 0;
          color: $cc-charcoal;
          background-color: $cc-teal-light2;
        }
        .content {
          border-radius: 0 0 10px 10px;
          background-color: #fff;
        }
      }
    }

    .textbox.callout {
      font-size: $notebook_font_size;
      /* animation: zoom-in-zoom-out 1s ease; */

      .text-name {
        color: #fff;
        border-radius: 6px 6px 0 0;
        background-color: $cc-teal-dark1;
      }
      .content {
        border-radius: 0 0 6px 6px;
        background-color: $cc-teal-light3;
      }
    }

    .maybe-with-sidebar {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .section-tabs {
        background-color: #909090;
        margin: -5px 8px 0 8px;
        padding-left: 15px;

      }

      .sections {
        width: 100%;

        .section {
          margin: 8px;
          margin-top: -5px;

          &.tab-contents {
            background-color: #909090;
            border-radius: 0;
            border: none;
            margin-bottom: 0;
          }
        }
      }

      .in-page-sidebar {
        width: 300px;
        max-width: 300px;
        min-width: 300px;

        p {
          margin: 20px 0;
          overflow-wrap: break-word;
          overflow: hidden;
        }
        li {
          margin: .75em 0;
        }
        img {
          height: auto;
          max-width: 100%;
        }

        .in-page-sidebar-title {
          color: #fff;
          border-radius: 6px 6px 0 0;
          background-color: $cc-teal-dark1;
          padding: 9px 20px;
          font-weight: bold;
        }

        .in-page-sidebar-content {
          background: $cc-teal-light3;
          padding: 10px 20px 20px 20px;
          border-radius: 0 0 6px 6px;
        }
      }
    }
  }

  .footer {
    font-size: $notebook_font_size;
    background-color: $cc-orange-light1;
    border-radius: 10px 10px;
  }

  .warning-banner {
    display: none;  /* to avoid distracting from the layout - don't use for realz */
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
