@import "../../vars.scss";

.textbox {
  p {
    margin: 0;
  }
  .text-name {
    font-weight: bold;
    padding: 8px 0 5px;
  }

  &.callout {
    .text-name {
      background-color: $cc-charcoal-light2;
      clear: both;
      position: relative;
      padding: 8px 20px 5px;
    }
    .content {
      background: #f5f5f5;
      padding: 20px !important;
    }
  }
}
